@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    padding:0;
    margin: 0;
    list-style:none;
    box-sizing:border-box;
    text-decoration: none;
 
}
[class*="col-"]{
    float: left;
    padding: 0;
    margin: 0;

    
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.container-fluid{
    padding: 0px !important;
    margin: 0px !important;

 }

body{overflow-x: hidden;}
a:hover{text-decoration:none;} a{text-decoration:none;}

/*Navbar*/
.margendelnavbar{
    margin-top: 3%;
}

.Navbar{
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.34);
    text-align:30px;
    font-size:30px;
    padding-top: 0px;

    height: 100px;
    width: 100%;
    padding:none;
    margin:none;
   
}

.h1{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    padding-top: 18px;
    font-size:26px;
    text-decoration: none;

}

.logo{
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    z-index:4;
}


.link{
    color:black;
}

.link::before {
    content: '';
    position: absolute;

    padding:40px;
    margin-bottom: 20px;

    margin-bottom: 0px;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f8f8f8, #e47b36, #ffffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s ease-in-out;
    z-index:-1;
    opacity: 0.8;
  }
  
.link:hover::before {
    transform: scaleX(1);
  }
.link:hover{
    color:rgb(255, 255, 255);
}


/*Pageone*/

#frases{
    padding:80px 0px;
    text-align: center;
}

#ubicacion{
   
    position: absolute;
    width: 38%;
    margin-top:40%;
    margin-left:120%;
    z-index:4;
    
    
}
#ropa{
    position:absolute;
    
    margin-top:30%;
    margin-left:40%;
    z-index:4;
    width: 50%;

}
#ubicacion:hover{
    position: absolute;
    width: 38%;
    margin-top:37%;
    margin-left:120%;
    z-index:4;
}
#ropa:hover{
    
    width: 50%;
    margin-top:27%;
    margin-left:40%;

    z-index:4;
}
/*Tabla*/
#cuadro{
    width: 100%;
    border: solid rgba(255, 255, 255, 0) ;  
}

#tabla{

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-bottom: 10px;
    float: center;
  
}


#imagen{
   
    opacity: 0.2;
    width: 100%;  
    border: solid 1px black;  
}


/*Localizacion*/
.googleMap{
    position:relative;
    float: right;
    border: solid rgb(255, 115, 0) 4px;
    border-radius: 15px;
    align-items : right;
    margin-right: 30px;
    box-shadow: 0px 0px 9px 1px rgba(255,111,0,0.51);
    margin:20px;
    margin-right: 70px;

  
}
.descripcion{
    position:relative;
    margin-top: 20px;
   
}
/*Ropa*/
.rebajas{
    width:100%;
    height: 70px;
    background-color: #ff0000;
    text-align: center;

}
.textoRebajas{
    font-size: 29px;
    line-height: 66px;
    color:white ;
    font-family: 'Pacifico', cursive;
}

.fotoscatalogo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: solid black 1px;

 
}

.oferta{
    position:absolute;
    margin-left: 55%;
    margin-right: auto;
     
     width: 30%;
 
 
 }

.posicionimagenerror{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}
.separador{
    margin: 40px;
    padding: 1%;
}

#frase{
    margin-top:3%;
    text-align: center;
    font-size: 14px;
}




/*extra Small*/
@media (max-width: 575.98px) { 
     
    .margendelnavbar{
        margin-top: 1%;
    }
    
    .Navbar{
        text-align:center;
        font-size:30px;
        padding-top: 11px;
        height: 70px;
        width:100%;
    }
    
    .h1{
     
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
        padding-top: 21px;
        font-size:50%;
        text-decoration: none;
    
    }
    
    
    .logo{
        display:none;
    }
    
    
    .link{
        
        color:black;
    }
    
    .link::before {
        content: '';
        position: absolute;
        padding:none;
        margin-bottom: none;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: none;
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.05s ease-in-out;
      }
      
    .link:hover::before {
        transform: scaleX(1);
      }
    .link:hover{
        color:rgb(255, 115, 0);
    }
    
    
    /*Pageone*/
    
    #frases{
        padding:80px 0px;
        text-align: center;
    }
    
    #ubicacion{

        position:relative;
        width: 70%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    
        z-index:4;
    
        
    }
    #ropa{
        position:relative;
        width: 100%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9%;
    
        z-index:4;
    
    }
    #ubicacion:hover{
       
        position:relative;
        width: 70%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    
        z-index:4;
    
        
    }
    #ropa:hover{
        position:relative;
        width: 100%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 9%;
    
        z-index:4;
    
    }
    /*Tabla*/
    #tabla{
        position:relative;
        justify-content: center;
        margin:auto;
        margin-left: 25%;
        margin-top:10px;
        margin-bottom: 8%;
       

    }
    
    
    
    #imagen{
        display: none;
       
    }
    
    /*Localizacion*/
    .googleMap{
       position:none;
        float: center;
        border:none;
        margin:auto;
        border-radius: 0px;
        align-items : center;
        margin-right: auto;
        margin-left: auto;
        box-shadow: none;
        margin:0px;
        margin-right: 0px;
        width: 100%;
        height: 90%;
        margin-top: 5%;
    
      
    }
    .descripcion{
        position:relative;
        margin-top: 40px;
        margin-left:15px;
        margin-right:15px;
       
    }
    /*Ropa*/
    .fotoscatalogo{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 15px;
        border: solid black 1px;
    
     
    }
    .textoRebajas{
        font-size: 20px;
        line-height: 66px;
        color:white ;
        font-family: 'Pacifico', cursive;
    }
    
    
    .oferta{
        position:absolute;
        margin-left: 60%;
        margin-top: 15px;
         
         width: 40%;
   
     
     }
    .posicionimagenerror{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .separador{
        margin: 0px;
        padding: 0%;
    }
    
    #frase{
        margin-top:18%;
        text-align: center;
        font-size: 10px;
    }
    
    
    
     }
    
     
   
    /*small*/
    @media (min-width: 576px) and (max-width: 767.98px) { 
      
       /*Navbar*/
       .margendelnavbar{
        margin-top: 1%;
    }
    
    .Navbar{
        text-align:center;
        font-size:30px;
        padding-top: 10px;
   
        height: 100px;
    }
    
    .h1{
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
        padding-top: 6px;
        font-size:26px;
        text-decoration: none;
    
    }
    
    .logo{
        position: relative;
        width: 70px;
        height: 70px;
        margin-right: 10px;
        z-index:4;
    }
    
    
    .link{
        color:black;
    }
    
    .link::before {
        content: '';
        position: absolute;
        padding:0px;
        margin-bottom: 0px;
     

        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #f8f8f8, #e47b36, #ffffff);
        z-index:-10;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s ease-in-out;
        
      }
      
    .link:hover::before {
        transform: scaleX(1);
      }
    .link:hover{
        color:rgb(255, 255, 255);
    }
    
    
    /*Pageone*/
    
    #frases{
        padding:80px 0px;
        text-align: center;
    }
    
    #ubicacion{

        position:relative;
        width: 230px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    
        z-index:4;
    
        
    }
    #ropa{
        position:relative;
        width: 300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    
        z-index:4;
    
    }
    #ubicacion:hover{
        position:relative;
        width: 230px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    
        z-index:4;
        
    }
    #ropa:hover{
        position:relative;
        width: 300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    
        z-index:4;
    }
    /*Tabla*/
    #tabla{
        position:relative;
        justify-content: center;
        margin:auto;
        margin-top:50px;
        margin-left: 25%;
        margin-bottom: 10%;
    }
    
    
    #imagen{
        display: none;
       
    }
    
    /*Localizacion*/
    .googleMap{
        position:none;
         float: center;
         border:none;
         margin:auto;
         border-radius: 15px;
         align-items : center;
         margin-right: auto;
         margin-left: auto;
         box-shadow: none;
         margin:0px;
         margin-right: 0px;
         width: 100%;
         height: 90%;
         margin-top: 5%;
       
     }
     .descripcion{
         position:relative;
         margin-top: 40px;
         margin-left:100px;
         margin-right:100px;
        
     }
    /*Ropa*/
    .fotoscatalogo{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        margin-top: 20px;
        border: solid black 1px;
    
     
    }
    .textoRebajas{
        font-size: 23px;
        line-height: 66px;
        color:white ;
        font-family: 'Pacifico', cursive;
    }


    .oferta{
        position:absolute;
        margin-left: 52.6%;
        margin-top: 20px;
         
         width: 40%;
       
     
     }



    
    .posicionimagenerror{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .separador{
        margin: 0px;
        padding: 0%;
    }
    #frase{
        margin-top:14%;
        text-align: center;
        font-size: 12px;
    }
    
    
    
     }
    
     
    
    /*Medium  - @media (min-width: 768px) and (max-width: 991.98px)@media (min-width: 768px) and (max-width: 991.98px)*/
    @media(min-width: 768px) and (max-width: 991.98px)  { 
        
        /*Navbar*/
        .margendelnavbar{
            margin-top: 1%;
        }
        
    .Navbar{
        text-align:center;
        font-size:30px;
        padding-top: 11px;

        height: 100px;
    }
    
    .h1{
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
        padding-top: 6px;
        font-size:26px;
        text-decoration: none;
    
    }
    
    .logo{
        position: relative;
        width: 70px;
        height: 70px;
        margin-right: 10px;
        z-index:4;
    }
    
    .link{
        color:black;
    }
    
    .link::before {
        content: '';
        position: absolute;
        padding:0px;
        margin-bottom: 3px;

        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #f8f8f8, #e47b36, #ffffff);
        z-index: -10;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s ease-in-out;
      }
      
    .link:hover::before {
        transform: scaleX(1);
      }
    .link:hover{
        color:rgb(255, 255, 255);
    }
    
    
    
    /*Pageone*/
    
    #frases{
        padding:80px 0px;
        text-align: center;
    }
    
    #ubicacion{

        position:relative;
        width: 230px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    
        z-index:4;
    
        
    }
    #ropa{
        position:relative;
        width: 300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    
        z-index:4;
    
    }
    #ubicacion:hover{
       
        position:relative;
        width: 230px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    
        z-index:4;
        
        
    }
    #ropa:hover{
        position:relative;
        width: 300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    
        z-index:4;
    }
    /*Tabla*/
    #tabla{
        position:relative;
        justify-content: center;
        margin:auto;
        margin-top:45px;
        margin-bottom: 10%;
    }
    
    
    #imagen{
        display: none;
       
    }
    
    /*Localizacion*/
    .googleMap{
        position:none;
         float: center;
         border:0px;
         margin:0px;
         border-radius: 0px;
         align-items : center;
         margin-right: auto;
         margin-left: auto;
         box-shadow: none;
         margin:0px;
         margin-right: 0px;
         width: 100%;
         height: 100%;
         margin-top: 3%;
       
     }
     .descripcion{
         position:relative;
         margin-top: 40px;
         margin-left:15px;
         margin-right:25px;
        
     }
    /*Ropa*/
    .fotoscatalogo{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 40px;
        border: solid black 1px;
    
     
    }

    .textoRebajas{
        font-size: 27px;
        line-height: 66px;
        color:white ;
        font-family: 'Pacifico', cursive;
    }

    .oferta{
        margin-top: 40px;
    }


    
    .posicionimagenerror{
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .separador{
        margin: 0px;
        padding: 0%;
    }
    
    #frase{
        margin-top:10%;
        text-align: center;
        font-size: 14px;
    }
    
    
    
     }
    
    /*Large*/
    @media (min-width: 992px) and (max-width: 1199.98px) { 

        
    .h1{
        text-align: center;
        font-family: 'Balsamiq Sans', cursive;
        padding-top: 5px;
        font-size:26px;
        text-decoration: none;
    
    }
    
        .margendelnavbar{
            margin-top: 5%;
        }
        .Navbar{
            text-align:center;
            font-size:30px;
            padding-top: 15px;
      
            height: 100px;
            width: 100%;
            padding:none;
            margin:none;
           
        }
     }

    

     .link::before {
        padding:40px;
        margin-bottom: 19px;
     }
     
    /*Extra Large*/
    @media (min-width: 1200px) { 

     }

